body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#content{
    display: flex;
}
#left{
    width: 20%;
}
#middle{
    width: 60%;
}
#right{
    width: 20%;
}
#footer{
    background-color: #333;
    color: #eee;
    padding: 10px;
    min-height: 200px;
}
.row{
    margin: 0px;
}
[class*="col-"] {
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width: 1250px) {
    #left, #right{
        display: none;
    }
    #middle{
        width: 100%;
    }
}